# Maven / Java
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Local Dev Properties (TRÈS IMPORTANT pour ne pas le pousser)
src/main/resources/application-dev.properties

# IDEs & OS
.sts4-cache
.springBeans
.settings/
.classpath
.project
.factorypath
.apt_generated
.idea/
*.iws
*.iml
*.ipr
.vscode/
Thumbs.db
Desktop.ini